// scroll view style
$scroll-track: #ececec;
$scroll-thumb: #bdbdbd;
$scroll-thumb-hover: #888888;

// primary colors
$white: #ffffff;
$black: #000000;

// theme colors
$tblue: #0c46a0;
$tfooter: #eef9fd;

// fonts information
$font: 'Nunito', sans-serif;
$regular: 400;
$semi: 600;
$bold: 700;